.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chq-atc {
  display: inline-block;
  position: relative;
}

.chq-atc--button {
  background: transparent;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  /* color: #6a89af; */
  cursor: pointer;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  outline: none;
  padding: 4px 10px;
  margin-top: 10px;
}

.chq-atc--button:focus {
  background-color: #eaeaea;
}

.chq-atc--button:hover {
  background-color: #eaeaea;
}

.chq-atc--button svg {
  vertical-align: sub;
}

.chq-atc--button path {
  fill: darkred;
}

.chq-atc--dropdown {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  box-shadow: 0.5px 0.5px 3px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 100%;
  z-index: 1;
}

.chq-atc--dropdown a {
  /* color: #6a89af; */
  color: black;
  display: block;
  padding: 8px 15px;
  text-decoration: none;
}

.chq-atc--dropdown a:hover {
  background-color: #eaeaea;
}
