html {
  background-color: #fff7ee;
  background-image: url('../src/static/flower.png');
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  background-size: 150%;
}

body {
  margin: 10% 5%;
  padding-top: 5%;
  padding-bottom: 3%;
  background-color: #fff9f2;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  /* -webkit-font-smoothing: antialiased; */
  -webkit-font-smoothing: subpixel-antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  /* height: fit-content; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
